{% extends "geolocator/index.html" %}

{% load static %}

{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}

<div class="form_fields">
	<form method="post" action="{% url 'geolocator:edit_profile' %}">
		{% csrf_token %}
		{{form|crispy}} 
		<button name="submit">Tallenna</button> 
		<input type="hidden" name="next" value="{% url 'geolocator:profile' %}" />
        <button> 
            <a href="{% url 'geolocator:profile' %}">Peruuta</a>
        </button>
    </form>
</div>

{% else %}

<div class="access_error">
    <h1>
        Sinulla ei ole oikeuksia tälle sivulle
    </h1>
    <div class="access_error_goback">
        <a href="{% url 'geolocator:index' %}">Etusivulle</a>
        <a href="{% url 'users:login' %}">Kirjaudu sisään</a>
        <a href="{% url 'users:register' %}">Rekisteröidy</a>
    </div>
</div>

{% endif %}
{% endblock content %}