{% extends "geolocator/index.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="profile_box">
    <div class="profile_content">

        <h1>Profiili, {{user.username}}</h1>
        <div class='edit_username'>
            <a href="{% url 'geolocator:edit_profile' %}"> Muuta käyttäjänimeä</a>
        </div>
        <p>Etunimi: {{user.first_name}}</p>
        <p>Sukunimi: {{user.last_name}}</p>
        <p>Sähköposti: {{user.email}}</p>
        <p>Lisättyjä kuvia: {{imageCount}}</p>
        <div class="add_image_goback">
            <a href="{% url 'geolocator:index' %}">Etusivu</a>
        </div>
    </div>
</div>
{% else %}

<div class="access_error">
    <h1>
        Sinulla ei ole oikeuksia tälle sivulle
    </h1>
    <div class="access_error_goback">
        <a href="{% url 'geolocator:index' %}">Etusivulle</a>
        <a href="{% url 'users:login' %}">Kirjaudu sisään</a>
        <a href="{% url 'users:register' %}">Rekisteröidy</a>
    </div>
</div>

{% endif %}
{% endblock content %}